footer {
    background: $yellow;
    padding: 65px 0 170px;
    @include text(var(--body10-fz), pnr, var(--body10-lh), inherit, none);
    letter-spacing: 0.1rem;
    .container {
        @include mid;
        flex-direction: column;
        height: 100%;
        a {
            img {
                @include size(20px,22px);
                transform: rotate(-90deg);
            }
        }
    }
    @include xs {
        padding: 50px 0 145px;
    }
}