@-ms-viewport {
    width: device-width;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    max-width: $container-max-width;
    margin: auto;
    background: $white-00;
    @include text (var(--body12-fz), pnr, var(--body12-lh), $black-80);
    @include customscroll();
    scroll-behavior: smooth;
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    .pd {
        padding: var(--pdSection);
    }
    
    @media (min-width: 568px) { //small mobile
        .container {
            max-width: 540px;
        }
        
    }

    @media (min-width: 768px) { //large mobile 
        .container {
            max-width: 720px;
        }
    }

    @media (min-width: 992px) { //tablet
        .container {
            max-width: 960px;
        }
    }

    @media (min-width: 1200px) { //desktop
        .container {
            max-width: $container-width;
        }
    }
    @include xs {
        --pdSection: 70px 0;
    }
}