.about {
    .container {
        .about__title.--hp {
            .main__heading.--h1 {
                &::after {
                    background: $yellow;
                }
            }
            p {
                color: $black-100;
            }
        }
    }
}
.catalog {
    .container {
        .show-more.--hp {
            margin-bottom: 0;
        }
    }
    @include xs {
        .container {
            padding: 0;
            .catalog__list.--hp {
                display: none;
            }
            .catalog__group.--hp {
                &__item:nth-child(n + 4) {
                    display: none;
                }
            }
        }
    }
}
